.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px; /* (width/height)사각형의 절반으로 무조건 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
