.nav {
  position: fixed; /* 내가 원하는 곳에 뭔가가 계속 있기를 바랄경우 */
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box; /* padding을 주고 싶지만 box사이즈는 그대로 있길 바랄 경우 */
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute; /* 동그라미가 아이콘 위에 오도록 */
  left: 17px;
  bottom: 17px;
}
.nav__notification_1 {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* 동그라미가 아이콘 위에 오도록 */
  left: 32px;
  bottom: 26px;
}
